src/*.exe
src/puntacana
src/puntacanad
src/test_puntacana
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.puntacana

# Compilation and Qt preprocessor part
*.qm
Makefile
puntacana-qt
puntacana-Qt.app

# Unit-tests
Makefile.test
puntacana-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
